In [1]:
import pandas as pd
import matplotlib.pyplot as plt

cumulative_miles = pd.Series([55, 120, 190, 275, 365],
                            index=['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5'])

daily_miles = cumulative_miles.diff()
daily_miles.iloc[0] = cumulative_miles.iloc[0]

bike_log = pd.DataFrame({
    'Cumulative Miles': cumulative_miles,
    'Daily Miles': daily_miles
})

bike_log

       Cumulative Miles  Daily Miles
Day 1                55         55.0
Day 2               120         65.0
Day 3               190         70.0
Day 4               275         85.0
Day 5               365         90.0