IS 362 Project #3 by Brandon Juarez

In [8]:
# These packages are needed to work with SQL and dataframes in Python.
!pip install pandas sqlalchemy

# Pandas is used for for data manipulation, SQLAlchemy for database connection, and urllib to download the Chinook database file.
import pandas as pd
from sqlalchemy import create_engine
import urllib.request

# This downloads the SQLite version of the Chinook database from GitHub and the file is saved locally as Chinook_Sqlite.sqlite.
url = 'https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'
urllib.request.urlretrieve(url, 'Chinook_Sqlite.sqlite')

# Creating a connection to the downloaded SQLite database using SQLAlchemy as the connection string format for SQLite is: sqlite:///filename.sqlite
engine = create_engine('sqlite:///Chinook_Sqlite.sqlite')

# This query joins Customer, Invoice, InvoiceLine, Track, and Album tables in order to retrieve customer names, track names, and album titles.
query = """
SELECT 
    c.LastName,
    c.FirstName,
    t.Name AS TrackName,
    a.Title AS AlbumTitle
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album a ON t.AlbumId = a.AlbumId
ORDER BY c.LastName, c.FirstName;
"""

# Executing the SQL query and load the results into a pandas DataFrame. This DataFrame will contain the final output required by the assignment.
df = pd.read_sql_query(query, engine)

# Displaying the first five rows of the DataFrame to verify the output.
df.head()

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.3.0)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (1.4.22)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.1.0)

,LastName,FirstName,TrackName,AlbumTitle
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas

This project demonstrates how SQL and Python can be integrated to extract and analyze customer purchase data from a relational database. By joining five tables in the Chinook schema—Customer, Invoice, InvoiceLine, Track, and Album, I was able to trace each customer's purchases down to individual tracks and their corresponding albums. I used SQLite as my RDBMS for its simplicity and compatibility with Jupyter Notebook, and used SQLAlchemy as the middleware to manage the database connection. The SQL query was designed to ensure relational integrity and produce a clean, sorted output by customer last and first name. Using pandas to load the query results into a DataFrame allowed for easy inspection, and formatting. This approach shows the power of combining SQL for structured data extraction with Python for flexible analysis and presentation. This project visually shows the importance of clean schema design and efficient querying when working with real-world datasets.